.origin {
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
    text-align: center
}
.detailbook {
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
    text-align: center
}
.detailbook h2 {
    height: 50px;
    margin-top: 150px;
    margin: 50px;
}
.detailbook h3 a {
    text-decoration: none;
    color: black;
    transition: color .2s linear
}
.detailbook h3 a:hover{
        color: white
}
body {
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}
.origin h2 {
    margin-top: 60px;
    line-height: 0.8;
    text-shadow: 1px 1px #FF0000;
}
.book h3 a {
    text-decoration: none;
    color: black;
    transition: color .2s linear
}
.book h3 a:hover {
    color: white
}
.book {
    margin-top: 60px;
}

}